@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif|PT+Mono|Indie+Flower');

@media print {
  .info {
    display: none !important;
  }
  #wrapper {
    padding: 0px;
  }
  .ui-resizable-handle {
    display: none !important;
  }
}

@page { size:8.5in 11in; margin: 0.25cm }

* {
  transition: none;
}

body, html, #wrapper, .container {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: 'PT Serif', serif;
  line-height: 160%;
}

.container {
  margin: auto;
}

.inner {
  height: 1000px;
  width: 100%;
}

a {
  color: #31C4F3;
  text-decoration: none;
}

.section p {
  margin: 0;
  padding: 0;
}

h1 a, h2 a, h3 a {
  color: #000;
}

.section {
  width: 400px;
  height: 200px;
  min-width: 200px;
  min-height: 100px;
  max-height: 800px;
  position: absolute;
}

.section:hover {
  box-shadow: inset 0 0 40px rgba(0,0,0,0.25);
}

.section.note h1,
.section.note h2,
.section.note h3,
.section.note h4,
.section.note h5,
.section.note h6 {
    padding: 0;
    margin: 0;
}

.reference .handle-heading {
  float: left;
  margin: 0;
  padding: 0;
}

.handle-heading {
  z-index: 1;
  cursor: move;
}

.section a.handle {
    color: #000;
    padding-right: 6px;
    font-weight: bold;
}

.note ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: serif;
}

.section {
  padding: 10px 15px;
  margin: 10px;
  border-radius: 10px;
}

.section em {
  color: black;
  padding: 3px 6px;
  border-radius: 3px;
}

.section.note p:first-child {
  font-family: serif;
}

.section.note {
  font-family: "Indie Flower", serif;
}

.content a {
  color: #000;
  font-style: italic;
  padding: 4px 8px;
  border-radius: 5px;
}

.notenum-1 {
  color: #784421;
  background-color: #f4e3d7;
}

.notenum-2 {
  color: #003380;
  background-color: #d5e5ff;
}

.notenum-3 {
  color: #225500;
  background-color: #e3f4d7;
}

/* Connections */

connection {
   border: 7px solid #ccc;
   opacity: 0.5;
   z-index: 1;
   border-radius:100%;
   pointer-events:none;
   mix-blend-mode: overlay;
}

/* Border colors - can't be included with note colors due to background color */

.c-1 {
  border-color: #f4e3d7;
}

.c-2 {
  border-color: #d5e5ff;
}

.c-3 {
  border-color: #e3f4d7;
}

/* ------------------------------------------------------------------------ */

.info {
  color: #ddd;
}

.info .app-title {
  text-shadow: 1px 1px 2px black;
  padding: 10px 2px;
}

.info .app-title .em {
  background-color: #31C4F3;
  border-radius: 50%;
}

.info .toc a {
  text-decoration: none;
  color: #31C4F3;
}

.info .toc a:hover {
  color: #fff;
}

.info .hide {
  color: #31C4F3;
}

.info .hide:hover {
  color: #fff;
}

/* Keypress styling */
kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
}

/* Scrollbar styling */
::-webkit-scrollbar {
    background: rgba(255, 255, 255, 0.2);
}
::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    /* border: solid whiteSmoke 4px; */
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 1);
}
