@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif|Indie+Flower');

@media print {
  #info {
    display: none !important;
  }
  #wrapper {
    padding: 0px;
  }
  .ui-resizable-handle {
    display: none !important;
  }
}

@page { size:8.5in 11in; margin: 0.25cm }

body, html {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 110%;
  vertical-align: baseline;
  background: transparent;
  font-family: 'PT Serif', serif;
  line-height: 160%;
}

a {
  color: #31C4F3;
  text-decoration: none;
}

#wrapper {
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0 20px;
}

#header {
  padding: 0 20px;
}

.section p {
  margin: 0;
  padding: 0;
}

h1 a, h2 a, h3 a {
  color: #000;
}

.section {
  width: 400px;
  height: 200px;
  min-width: 200px;
  min-height: 100px;
  max-height: 800px;
  position: absolute;
}

.section:not(.note) .ui-resizable-handle {
  opacity: 0;
}

.section:not(.note):hover .ui-resizable-handle {
  opacity: 1;
}

.section:not(.note):hover {
  background-color: rgba(0,0,0,0.05);
}

.section.note h1,
.section.note h2,
.section.note h3,
.section.note h4,
.section.note h5,
.section.note h6 {
    padding: 0;
    margin: 0;
}

.section a.handle {
    color: #000;
    padding-right: 6px;
    font-weight: bold;
}

#header p a {
  text-decoration: none;
  color: #aaa;
}

#commands {
  display: block;
}

.column {
  float: left;
}

.column1of1 {
  display: block;
  width: 100%;
}

.column1of2 {
  display: block;
  width: 50%;
}

.column1of3 {
  display: block;
  width: 33%;
}

.column1of4 {
  display: block;
  width: 25%;
}

#commands .handle {
  cursor: -webkit-grab;
}

.note ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: serif;
}

.section {
  padding: 10px 15px;
  margin: 10px;
  border-radius: 10px;
}

.section em {
  color: black;
  padding: 3px 6px;
  border-radius: 3px;
}

.section.note p:first-child {
  font-family: serif;
}

.section.note {
  font-family: "Indie Flower", serif;
}

.n-1 {
  background-color: #f4e3d7;
}

.note-1 {
  color: #784421;
  background-color: #f4e3d7;
}

.n-2 {
  background-color: #d5e5ff;
}

.note-2 {
  color: #003380;
  background-color: #d5e5ff;
}

.n-3 {
  background-color: #e3f4d7;
}

.note-3 {
  color: #225500;
  background-color: #e3f4d7;
}

/* Connections */

connection {
   border: 7px solid #ccc;
   opacity: 0.5;
   z-index: -1;
   border-radius:100%;
   pointer-events:none;
}

.c-1 {
  border-color: #f4e3d7;
}

.c-2 {
  border-color: #d5e5ff;
}

.c-3 {
  border-color: #e3f4d7;
}

/* ------------------------------------------------------------------------ */

#info {
  background: rgba(0,0,0,0.9);
  position: fixed;
  float:right;
  top: 0px;
  right: 0px;
  width: 300px;
  height: 470px;
  box-shadow: -2px 2px 8px rgba(0,0,0,0.45);
  border-radius: 0px 0px 0px 10px;
  padding: 10px;
  font-size: 0.85em;
  color: #fff;
}

#info h1, #info h1 a, #info h2, #info h3 {
  color: #fff;
  font-size: 1.1em;
}

#info #gist-url a {
  font-size: 0.9em;
}

#info #gist-url a:hover {
  color: #ffffff;
}

#info #toc {
  max-height: 200px;
  overflow-y: scroll;
  background-color: rgba(49, 196, 243, 0.1);
  border-radius: 5px;
}

#info #toc a {
  display: block;
  font-size: 0.85em;
  margin-left: 10px;
  text-decoration: none;
  color: #31C4F3;
}

#info #toc a:hover {
  color: #fff;
}

#info #hide {
  position: absolute;
  text-align: right;
  bottom: 20px;
  right: 20px;
  color: #31C4F3;
}

#info #hide:hover {
  color: #fff;
  cursor: pointer;
}

/* Keypress styling */
kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
}

/* Scrollbar styling */
::-webkit-scrollbar {
    background: rgba(255, 255, 255, 0.2);
}
::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    /* border: solid whiteSmoke 4px; */
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 1);
}
